image: docker:latest

services:
  - docker:dind

stages:
  - test
  - build

test: 
  image: node:10.15.1-alpine
  stage: test
  script:
    - mv .env.test .env
    - yarn install
    - yarn test

build_image:
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  stage: build
  script:
    - docker build -t registry.gitlab.com/edgarpino/nest-home-monitor .
