image: docker:latest

stages:
  - test
  - build

test: 
  image: node:10.15.1-alpine
  stage: test
  script:
    - mv .env.test .env
    - yarn install
    - yarn test

build_image:
  stage: build
  script:
    - docker build -t registry.gitlab.com/edgarpino/nest-home-monitor .
